<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>STRUKBELANJA</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Show Input</div>
        <hr>
        <table border="2">
            <tr>
                <th>Nama sayur </th>
                <th>Harga sayur </th>
                <th>Jumlah beli </th>
                <th>Harga Awal </th>
                <th>Potongan Harga</th>
                <th>Harga Setelah Diskon</th>
                <th>Diskon</th>
                <th>Pembayaran </th>
                <th>Kembalian</th>
            </tr>
            <tr>
                <td th:text="${name}"></td></br>
                <td th:text="${price}"></td></br>
                <td th:text="${quantity}"></td></br>
                <td th:text="${PriceTotal}"></td></br>
                <td th:text="${discPrice}"></td></br>
                <td th:text="${totalPrice}"></td></br>
                <td th:text="${discount}"></td></br>
                <td th:text="${money}"></td></br>
                <td th:text="${return}"></td></br>
            </tr>
        </table>
    </body>
</html>